body.active-modal {
  overflow-y: hidden;
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: black;
  margin: 1.5rem 0;
  width: 100%;
}

.card {
  box-shadow: 0 0 4px 3px #282828;
  border: 1px solid black;
  border-right: none;
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  /* display: flex; */
  position: relative;
  background-color: var(--secondary-bg-color);
  color: var(--font-dark-color);
  transition: 200ms ease-in-out;
}

.card__img {
  width: 14rem;
  height: 11rem;
  margin: 0.25rem 0;
  object-fit: cover;
  display: flex;
}
.card__body {
  display: flex;
}
.card__text {
  text-align: center;
  margin: 1rem 0 1rem 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card__author {
  line-height: 1.2rem;
  color: var(--dark-gray);
}

.card__button {
  border: none;
  border-top: 1px solid black;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--dark-gray);
  transition: 200ms ease-in-out;
  color: var(--font-light-color);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  position: relative;
}

.card__button:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    /* margin: 1rem; */
    background-color: inherit;
  }
  .card {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 14rem;
  }
  .card__body {
    flex-direction: column;
  }
  .card__text {
    justify-content: space-between;
  }

  .card__img-bg {
    background-color: black;
    object-fit: cover;
    border-bottom: 1px solid gray;
  }
  .card__img {
    width: 100%;
    object-fit: contain;
    height: 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(5, minmax(14rem, 16rem));
  }
}
@media screen and (min-width: 1800px) {
  .wrapper {
    grid-template-columns: repeat(5, minmax(18rem, 22rem));
  }
  .card {
    font-size: 1.25rem;
    min-width: 18rem;
  }
}
