.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-bg-color);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    width: 60%;
    z-index: 1000;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
   
}

.shop-link{
    text-decoration: none;
    font-size: 1rem;
}
.cover__full{
    max-height: 35rem;
    max-width: 20rem;
    margin-right: 1rem;
    min-height: 30rem;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    cursor: pointer;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {

    max-width: 30rem;
    min-width: 20rem;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125;
    margin-left: auto;
    margin-right: auto;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%,70%);
    }

    100% {
        background-color: hsl(200, 20%,95%);
    }
}

.close-modal {
    position: absolute;
    top: .125rem;
    right: .5rem;
    padding: 5px 7px;
    font-size: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
}