.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-bg-color);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    width: 60%;
    z-index: 1000;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
   
}

.shop-link{
    text-decoration: none;
    font-size: 1rem;
}
.cover__full{
    max-height: 30rem;
    margin-right: 1rem;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}