.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-bg-color);
    border-radius: 5px;
    max-width: 62.5rem;
    min-width: 18.75rem;
    display: flex;
    width: 60%;
    z-index: 1000;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.875rem 2.375rem 0.875rem 0.875rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.heading {
    padding-bottom: .25rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 1rem;
}

.cover {
    background-color: black;
    border-radius: 0.3rem 0 0 0.3rem;
}
.shop-link{
    text-decoration: none;
    font-size: 1rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-gray);
    transition: 200ms ease-in-out;
    border-radius: 15px;
    padding: .25rem .5rem;
    color: var(--font-light-color);
}

.shop-link:hover {
    background-color: black;
}

.cover__full{
    max-height: 35rem;
    max-width: 20rem;
    margin-right: 1rem;
    min-height: 30rem;
    margin: 0.875rem;
    
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: .125rem;
    right: .5rem;
    padding: .19rem .19rem;
    font-size: 2rem;
    border: none;
    outline:none;
    background: transparent;
    cursor: pointer;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }