.search-button {
    font-size: 1.25rem;
    font-weight: bolder;
    white-space: wrap;
    width: 6rem;
    background-color: var(--light-gray);
    transition: 200ms ease-in-out;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
}

.search-button:hover {
    color: var(--font-light-color);
    background-color: black;
}

.find-books {
    background-color: var(--dark-gray);
    color: var(--font-light-color)
}


