h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    z-index: 1;
}
.search-bar-title{
    width: 50%;
    margin-right: .5rem;
    align-self: center;
}

.search-bar-title h2 {
    margin-bottom: .5rem;
}

.search-button {
    padding: 1rem;
    align-items: center;
}

.intro{
    margin-top: 2vh;
}


