:root {
  --main-bg-color: beige;
  --secondary-bg-color: white;
  --light-gray: #dddddd;
  --dark-gray: #4f4f4f;
  --font-light-color: white;
  --font-dark-color: black;
  --link-color: blue;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: var(--main-bg-color);
}
a {
  color: var(--link-color)
}