:root {
  --main-bg-color: #28afb0;
  --secondary-bg-color: beige;
  --accent-bg-color: #e6e18f;
  --font-light-color: white;
  --font-dark-color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--main-bg-color);
}
a {color:blue}